/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho'); */


/*header name*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/*link block*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/*heading*/
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); */
/*skill type*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


/*多分これしか使っていない*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@keyframes loading {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

body {
    /* background:  linear-gradient(90deg, #58c6ff 0%, #fffef0 40%, #b8c3ff 80%); */
    margin: 0;
}

ul {
    padding: 0;
}

/*header*/
header {
    background: #fff;
    width: 100%;
    position: fixed;/*fixedで固定*/
    z-index: 100;
    /* top: 0; */
}

.header-wrapper {
    display: flex;
}

.header-name {
    margin-left: 2em;
    font-family: "Satisfy", cursive;
}

.link-block {
    display: flex;
    align-items: center;
    position: fixed;
    right: 5em;
    top: 1em;
}

.link-block a {
    margin-left: 2em;
    background: linear-gradient(90deg, #58c6ff 0%, #076ad9 40%, #6777ce 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Lora", serif;
    font-weight: normal;
    text-decoration: none;
}

.main-side-space {
    margin: 0 3em;
}

/*TOP*/
#top-image {
    width: 100%;
    object-fit: cover;
    height: 46.5em;
    animation: loading 5s;
}

.section-wapper {
    padding-bottom: 10em;
}

.heading {
    font-size: 5em;
    /* font-family: "Alfa Slab One", serif; */
    background: linear-gradient(90deg, #58c6ff 0%, #076ad9 40%, #6777ce 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Lora", serif;
    font-weight: normal;
    width: fit-content;
    margin: auto;
}

/*profile*/
#profile {
    /* background-color: #F5E7B2; */
}

.prof-block {
    /* display: flex; */
    width: fit-content;
    margin:auto;
}

.prof-left-block {
    /*追加*/
    opacity: 0;
    visibility: hidden;
    transition: all 2s;
    /*ここでどこから出てくるか決める*/
    transform: translateX(-10em);
}

.prof-left-block img {
    width: 40em;
}

.prof-right-block {
    padding: 2em 5em;
    margin-left: 20em;
    margin-top: -12em;
    width: 30em;
    color: #FFFFFF;
    background: #1b3851;
    opacity: 0.95;
    position: relative;
    z-index: 10;
    top: 25em;

    /*追加*/
    opacity: 0;
    visibility: hidden;
    transition: all 2s;
    /*ここでどこから出てくるか決める*/
    transform: translateX(10em);
}

/*要素が画面内に入ったらフェードイン*/
.is-active {
    /*要素を表示させる*/
    opacity: 1;
    visibility: visible;
    /*元の位置に戻す*/
    transform: translateY(0);
}

/*skills*/
#skills {
    /* background-color: #F9D689; */
}
/* .skills-items {
    display: flex;
    flex-wrap: wrap;
} */

.skill-type {
    font-size: 3em;
    width: fit-content;
    margin: auto;
    font-family: "Lora", serif;
    font-size: 2em;
}

.skill-type-message {
    width: fit-content;
    margin: 0 auto 2em;
}

.skills-block {
    /* display: flex; */
    width: 35em;
    margin: 0 auto 4em;
}

.skills-block > .right {
    margin-left: 10em;
}

.skills-list {
    width: 30em;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

/* .skills-list li {
    background-color: #FFFFFF;
    border-radius: 1em;
    width: fit-content;
    height: 1em;
} */

.skills-list li {
    /* background-color: #FFFFFF; */
    background: #EBF4F6;
    border-radius: .6em;
    width: fit-content;
    padding: .5em;
    margin: 0 1em 1em 0;
    list-style: none;
}

.skills-items {
    margin: 0 auto 2em;
}

.skills-items .slick-prev {
    left: -35px;
    z-index: 10;
}

.skills-items .slick-next {
    right: -25px;
    z-index: 10;
}

.skills-items .slick-prev::before,
.skills-items .slick-next::before{
  font-size:30px;
  color: #071952;
}

.skills-items li{
    list-style: none;
    /* border: 1px red dashed; */
    text-align: center;
    /* background-color: #FFFFFF; */
    background: #EBF4F6;
    height: 15em;
    border-radius: 1em;
}

.skills-items li img {
    /* max-width: 80%; */
    /* height: 40%; */
    /* border: 1px red dashed; */
    height: 5em;
    width: 10em;
    object-fit: contain;
    margin: 1em auto 0;
}

.skill-title {
    margin: 0;
}

.skill-text-block p {
    margin: 0;
}

.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; }
.star5_rating[data-rate="4.5"]:after{ width: 90%; }
.star5_rating[data-rate="4"]:after{ width: 80%; }
.star5_rating[data-rate="3.5"]:after{ width: 70%; }
.star5_rating[data-rate="3"]:after{ width: 60%; }
.star5_rating[data-rate="2.5"]:after{ width: 50%; }
.star5_rating[data-rate="2"]:after{ width: 40%; }
.star5_rating[data-rate="1.5"]:after{ width: 30%; }
.star5_rating[data-rate="1"]:after{ width: 20%; }
.star5_rating[data-rate="0.5"]:after{ width: 10%; }
.star5_rating[data-rate="0"]:after{ width: 0%; }

/*works*/
#works {
    /* background-color: #F5E7B2; */
}

.works-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

.works-block{
    width: 20em;
}

.works-block img{
    width: 20em;
    height: 30em;
    object-fit: cover;
}

/*footer*/
footer {
    background: #1b3851;
    width: 100%;
    position: absolute;
}

footer p {
    color: #FFFFFF;
}














/*slick-------------------*/
.slick-slide {
    margin: 0 .3em 0; 
}
/* arrow */
/* dots */
.slick-dots{
bottom: -25px;
}
.slick-dots li,
.slick-dots li button,
.slick-dots li button::before{
width: 12px;
height: 12px;
}
.slick-dots li{
margin: 0 7px;
}
.slick-dots li button{
background-color: #fff;
opacity: .8;
border-radius: 100%;
}
.slick-dots li.slick-active button{
/* opacity: .4; */
}
.slick-dots li button::before{
content: '';
}

