.fadein1 {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    transform: translateY(150px);
}

.is-active {
    /*要素を表示させる*/
    opacity: 1;
    visibility: visible;
    /*元の位置に戻す*/
    transform: translateY(0);
}