.section-wrapper {
    width: fit-content;
    margin: auto;
}

/**
 * 左右交互に画像を配置
 */
 .one-by-one-wrapper {
    display: flex;
 }

.one-by-one-image-block {
    
}

.one-by-one-image-block img {
    width: 20em;
}

 .one-by-one-explanation-block {
    width: 20em;
    text-align: center;
}