@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@100..900&display=swap');

/*section title*/
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    margin: 0;
}

h2 {
    margin: 0;
}

.section-title {
    font-family: "Jost", sans-serif;
    letter-spacing: 0.4em;
    width: fit-content;
    margin: 0 auto;
    padding-top: .5em;
    font-size: 4em;
    font-weight: 500;
}

img {
    vertical-align: middle;
}

p {
    margin: 0;
}

button {
    background-color: #fff;
    border: none;
}

ul {
    padding-inline-start: 0;
}

.center {
    width: fit-content;
    margin: auto;
}

.bg-navy {
    background-color: #03346E;
}

.bg-gray {
    background-color: #e0e5ee;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

/*TOP*/
#top {
    position: relative;
}

.top img {
    width: 100%;
}

.colorfilter-base {
    background-color: rgb(17, 0, 255); /* カラーフィルタ効果の色を指定 */
}
.colorfilter-image {
    opacity: 0.8;    /* カラーフィルタ効果の度合いを指定(※) */
}

.top-text-block {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.2em;
    text-align: center;
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/*About*/
#about {
    background: linear-gradient(180deg,  #03346E 65%, #03346E, #b79376 65%, #b79376 100%);
    padding-bottom: 10em;
}

#about h2 {
    color: #fff;
}

#about h3 {
    color: #fff;
    font-weight: 300;
}

.about-wrapper {
    margin-top: 3em;
}

.about-left-block {
    position: relative;
}

.about-left-block img {
    width: 30rem;
    position: relative;
    z-index: 10;
}

.white-square {
    width: 30rem;
    height: 20em;
    background: #fff;
    position: absolute;
    top: 2em;
    left: -2em;
    z-index: 9;
}

.about-right-block {
    margin-left: 3rem;
}

.about-right-block-subtitle {
    text-align: right;
}

.about-right-block-subtitle p:nth-child(1) {
    color: #fff;
    font-family: "Jost", sans-serif;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.4em;
}

.about-right-block-subtitle p:nth-child(2) {
    background-color: #fff;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: #03346E;
    display: inline;
}

.about-right-block-text {
    margin-top: 1.5em;
    color: #fff;
    line-height: 2.0em;
}

/*Theme*/
#theme h2 {
    color: #03346E;
}

.theme-subtitle-jpn {
    text-align: center;
}

.theme-subtitle-jpn > p {
    background-color: #03346E;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: #fff;
    display: inline;
    text-align: center;
}

.theme-block {
    height: 20em;
    margin-top: 3em;
}

.theme-block img {
    width: 20em;
}

.theme-text {
    text-align: center;
    background: #fff;
    padding: 1em 0;
    width: 20em;
}

.theme-left-block {
    width: 23em;
    position: relative;
}

.theme-left-block-text {
    position: relative;
    z-index: 10;
}

.theme-left-block-text > p {
    position: absolute;
    color: #03346E;
    font-size: 3em;
    font-weight: 600;
    top: -0.8em
}

.theme-left-block > img {
    position: absolute;
    left: 3em;
    top: 3em;
}

.theme-right-block {
    width: 23em;
    position: relative;
}

.theme-right-block > img {
}

.theme-right-block-text {
    position: absolute;
    z-index: 10;
    top: 12em;
    left: 4em
}

.theme-right-block-text > p {
    position: absolute;
    color: #03346E;
    font-size: 3em;
    font-weight: 600;
    top: -0.8em;
    left: 6em;
}

/*Policy*/
#policy h2 {
    color: #fff;
}

#policy > p:nth-child(2) {
    color: #fff;
    width: fit-content;
    margin: auto;
}

.policy-block {
    height: 25em;
    margin-top: 2em;
}

.policy-left-block {
    color: #fff;
}

.policy-right-block {
    position: relative;
    margin-left: 3em;
}

.policy-right-block img {
    width: 25em;
    z-index: 10;
    position: relative;
}

.policy-right-block .white-square {
    width: 25em;
    height: 17em;
    background: #fff;
    position: absolute;
    top: 2em;
    left: 2em;
    z-index: 9;
}

/*News*/
#news {
    padding-bottom: 3em;
    text-align: center;
}

#news h2 {
    color: #03346E;
}

#news > p {
    color: #03346E;
}

.news-block {
    background: #fff;
    width: 40em;
    align-items: center;
    position: relative;
    margin-top: 2em;
}

.news-date {
    margin-left: 2em;
    margin-top: 0.3em;
    text-align: center;
}

.news-date p:nth-child(1) {
    font-size: 0.6em;
}

.news-date p:nth-child(2) {
    color: #03346E;
    font-weight: bold;
}

.news-title {
    margin-left: 2em;
}

.news-block-arrow {
    position: absolute;
    left: 38em;
}

/*Entry*/
#entry {
    padding-bottom: 3em;
    text-align: center;
}

#entry h2 {
    color: #03346E;
}

#entry > p {
    color: #03346E;
}

#entry p:nth-child(3) {
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.4em;
    margin-top: 2em;
}

/*FAQ*/
#faq {
    padding-bottom: 3em;
    text-align: center;
}

#faq h2 {
    color: #03346E;
}

#faq > p:nth-child(2) {
    color: #03346E;
}

.faq-wrapper {
    margin: 2em auto 0;
    width: fit-content;
}

.faq-wrapper li {
    list-style: none;
}

.question-block{
    position: relative;
    width: 40em;
    height: 5em;
    display: flex;
    align-items: center;
    margin-bottom: 0.2em;
}

.question-block p:nth-child(1) {
    font-size: 2.3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #02a2ca;
    margin-left: 1em;
}

.question-block p:nth-child(2) {
    margin-left: 1em;
    font-size: 1.3em;
    color: #03346E;
}

.question-block--close{
    display: none;
}

.question-block::before{
    content: "";
    width: 1px;
    height: 16px;
    background: #000;
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: .6s ease;
}

.question-block::after{
    content: "";
    width: 16px;
    height: 1px;
    background: #000;
    position: absolute;
    right: 11px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: .6s ease;
}

.question-block.is-accordion--open::before{
    transform: rotate(90deg);
}

.answer-block{
    height:0;
    overflow:hidden;
    transition:.4s ease;
    background: #fff;
    width: 33.3em;
}

.answer-block p {
    text-align: left;
    margin-left: 5.5em;
    font-size: 1em;
    color: #03346E;
}

.question-block.is-accordion--open + .answer-block{
    height: auto;
    opacity: 1;
    margin-bottom: 0.2em;
}

/*Footer*/
footer {
    background: #000;
    height: 10em;
    align-items: center;
    display: grid;
}

footer div {
    justify-content: space-around;
    display: flex;
}

footer p {
    color: #fff;
}

footer p:nth-child(1) {

}

footer p:nth-child(2) {
    
}

/*768px以下*/
@media screen and (max-width: 768px) {
    /*top*/
    .top-text-block {
        font-size: 0.8rem;
    }

    /*about*/
    #about > .flex-box {
        display: block;
        width: auto;
    }

    .about-wrapper {
        margin-top: 0;
    }

    .about-left-block img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .white-square {
        width: 80%;
        height: 90%;
        top: 20%;
        left: 5%;
    }

    .about-right-block {
        margin: 5rem 2rem;
    }

    .about-right-block-subtitle {
        text-align: left;
        font-size: 2rem;
    }

    .about-right-block-text {
        font-size: 1.2rem;
    }

    /*theme*/
    #theme .flex-box {
        display: block;
    }

    .theme-block {
        height: 40rem;
    }

    .theme-right-block {
        width: 23em;
        position: relative;
        margin-top: 15rem;
    }

    .theme-right-block-text {
        left: 3rem;
    }

    /*policy*/
    #policy .flex-box {
        display: block;
    }

    .policy-block {
        height: 40rem;
    }

    .policy-left-block {
        width: fit-content;
        margin: auto;
    }

    .policy-right-block {
        margin: 3rem 0;
    }

    .policy-right-block img {
        width: 80%;
        margin: auto;
        display: block;
    }

    .policy-right-block .white-square {
        width: 80%;
        height: 90%;
        top: 20%;
        left: 5%;
    }

    /*news*/
    .news-block {
        width: 90%;
    }

    .news-title {
        font-size: 0.8rem;
    }

    .news-block-arrow {
        left: 90%;
    }

    /*faq*/
    .faq-wrapper {
        margin: 0;
        width: auto;
    }

    .question-block {
        width: 90%;
        margin: 0.2rem auto;
    }

    .answer-block {
        width: 90%;
        margin: auto;
    }
  }