/*TODO 多分もう使ってないから消す*/
/* @import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"); */

/*sectionタイトル、サイドバー*/
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3em;
}

body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.swiper-container {
    width: 50vw;
    margin: auto;
}

.sp-only {
    display: none;
}

/*header*/
header {
    display: none;
}

.section-wapper {
    padding: 5em 0;
}

.heading {
    font-size: 5em;
    background-color: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Yeseva One", serif;
    font-weight: normal;
    width: fit-content;
    margin: 0 auto 0.5em;
}

/*Sidebar*/
#sidebar-wrapper {
    position: fixed;
    background-color: transparent;
    height: 100vh;
    width: 15vw;
    z-index: 10;
    position: fixed;
    top: 8rem;
    left: 2rem;
}

.sidebar-block {
    display: flex;
    color: #fff;
    margin-bottom: 1rem;
}

.sidebar-block:hover {
    color: #000000;
}

.sidebar-block div {
    width: 2vw;
    margin-right: 1rem;
}

.sidebar-block p {
    font-family: "Yeseva One", serif;
    align-self: center;
}

.sidebar-link {
    cursor: pointer;
}

#main-content {
}

/*TOP*/
#top {
    background: linear-gradient(
        180deg,
        #2f91c2 0%,
        #239bb1 40%,
        #087588 60%,
        #057185 80%,
        #d6cc70 100%
    );
    filter: blur(100px);
    animation: blur-anim 1.5s linear forwards;
    padding-bottom: 20em;
}

@keyframes blur-anim {
    100% {
        filter: blur(0);
    }
}

.top-name {
    color: #fff;
    font-family: "Yeseva One", serif;
    font-size: 6.5rem;
    width: 60vw;
    margin: auto;
    padding-top: 1em;
}

#info-wrapper {
    width: 60vw;
    margin: auto;
    color: #fff;
    font-family: "Yu Mincho", serif;
}

.info-block {
    padding-bottom: 4em;
}

.info-block p,
.info-block li {
    font-size: clamp(16px, 2.2vw, 24px);
}

.info-title {
    margin-right: 0.5em;
}

/*profile*/
#profile {
    background-color: #087588;
}

#profile > .heading {
    background-color: #fff;
}

.prof-block {
    display: flex;
    width: fit-content;
    margin: auto;
}

#prof-left-block {
}

#prof-left-block img {
    width: 10em;
}

#prof-right-block {
    margin-left: 3em;
    width: 28em;
    top: 5em;
    color: #fff;
    font-family: "Yu Mincho", serif;
}

/*skills*/
#skills {
    background-color: #9ac8cd;
}

.skill-type {
    font-size: 3em;
    width: fit-content;
    margin: 0 auto 0.3em;
    font-family: "Lora", serif;
    font-size: 2em;
}

.skill-type-message {
    width: fit-content;
    margin: 0 auto 2em;
}

.skills-block {
    width: 35em;
    margin: 0 auto 4em;
    position: relative;
}

.skills-block > .right {
    margin-left: 10em;
}

.skills-list {
    width: 30em;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.skills-list li {
    background: #ebf4f6;
    border-radius: 0.6em;
    width: fit-content;
    padding: 0.5em;
    margin: 0 1em 1em 0;
    list-style: none;
}

.skills-items {
    margin: 0 auto 2em;
}

.skills-items div {
    list-style: none;
    text-align: center;
    background: #ebf4f6;
    height: 15em;
    border-radius: 1em;
    overflow: hidden;
}

.swiper {
    width: 50vw;
}

.swiper-container {
    position: relative;
    overflow: hidden;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-weight: bold;
    color: #000;
    position: absolute;
}

.swiper-button-prev::after {
    left: var(--swiper-navigation-sides-offset, -80px);
}

.swiper-button-next::after {
    right: var(--swiper-navigation-sides-offset, -80px);
}

.skills-items div img {
    height: 5em;
    width: 10em;
    object-fit: contain;
    margin: 1em auto 0;
}

.skill-title {
    margin: 0;
}

.skill-text-block p {
    margin: 0 2em;
    font-size: clamp(13px, 2vw, 16px);
    text-align: left;
}

.star5_rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #cccccc; /* グレーカラー 自由に設定化 */
}

.star5_rating:before,
.star5_rating:after {
    content: "★★★★★";
}

.star5_rating:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after {
    width: 100%;
}
.star5_rating[data-rate="4.5"]:after {
    width: 90%;
}
.star5_rating[data-rate="4"]:after {
    width: 80%;
}
.star5_rating[data-rate="3.5"]:after {
    width: 70%;
}
.star5_rating[data-rate="3"]:after {
    width: 60%;
}
.star5_rating[data-rate="2.5"]:after {
    width: 50%;
}
.star5_rating[data-rate="2"]:after {
    width: 40%;
}
.star5_rating[data-rate="1.5"]:after {
    width: 30%;
}
.star5_rating[data-rate="1"]:after {
    width: 20%;
}
.star5_rating[data-rate="0.5"]:after {
    width: 10%;
}
.star5_rating[data-rate="0"]:after {
    width: 0%;
}

/*works*/
#works {
    background-color: #087588;
}

#works > .heading {
    background-color: #fff;
}

.works-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

.works-block-wrapper div:nth-child(1) {
    /* margin-right: 3rem; */
}

.works-block {
    /* width: 20em; */
}

.works-text-block {
    width: fit-content;
    margin: auto;
}

.works-block a {
    font-size: 0.8rem;
    color: #fff;
    font-weight: bolder;
}

.works-block p {
    font-size: 0.8rem;
    color: #fff;
}

.mock-img-block {
    display: flex;
}

.mock-pc {
    width: 20em;
    margin-right: 1em;
    object-fit: cover;
}

.mock-sp {
    width: 10em;
    object-fit: cover;
}

/*footer*/
footer {
    background: #d6cc70;
    width: 100%;
    position: absolute;
}

footer p {
    padding: 2em;
    width: fit-content;
    margin: auto;
    font-family: "Yeseva One", serif;
}

/*960px以下*/
@media screen and (max-width: 960px) {
    /*PC表示でない時は消す*/
    .pc-only {
        display: none;
    }

    .sp-only {
        display: block;
    }

    header {
        background: #fff;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        display: inline;
    }

    .header-wrapper {
        display: flex;
        height: 4rem;
    }

    .header-name {
        margin: auto 2em;
        font-family: "Yeseva One", serif;
    }

    .heading {
        font-size: 3rem;
    }

    /*ハンバーガーメニュー*/
    /*ボタンの位置とサイズ*/
    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        right: 30px;
        top: 20px;
    }

    /* バーガボタンのバーのスタイル */
    .bm-burger-bars {
        background: #373a47;
    }

    /* バーガーボタンのホバー */
    .bm-burger-bars-hover {
        background: #2f91c2;
    }

    /* クロスボタンの位置とサイズ */
    .bm-cross-button {
        height: 30px;
        width: 30px;
    }

    /* クロスボタンのカラー・形状 */
    .bm-cross {
        background: #bdc3c7;
    }

    /* サイドバーのスタイル */
    .bm-menu {
        background: #373a47;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
    }

    /* bubbleやelasticで必要なモーフの形状 */
    .bm-morph-shape {
        fill: #373a47;
    }

    /* メニューリストのラッパースタイル*/
    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
    }
    /* オーバーレイ(overlay)のスタイリング */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }

    .sidebar-block:hover {
        color: #dc5f00;
    }

    .top {
        margin-top: 4rem;
    }

    /*     .top-name-block {
        width: 90vw;
    } */

    .top-name {
        font-size: 14vw;
    }

    .section-wapper {
        padding-bottom: 4rem;
    }

    /*profile*/
    .prof-block {
        display: block;
    }

    #prof-right-block {
        position: initial;
        padding: 0;
        margin: 0 auto;
        /* margin-left: 1em; */
        width: auto;
    }

    #prof-left-block {
        text-align: center;
    }

    #prof-left-block img {
        width: 60vw;
        margin: auto;
        min-width: 300px;
    }

    #prof-right-block p {
        font-size: clamp(12px, 2.6vw, 18px);
    }

    /*skills*/
    .skills-block-wrapper {
        width: 90%;
        margin: auto;
    }

    .skills-block {
        width: 80vw;
    }

    .skills-list {
        width: auto;
    }

    .skills-items div {
        height: 40vh;
    }

    /*works*/
    .works-block {
        width: auto;
        margin-bottom: 3rem;
    }

    .works-block-wrapper div:nth-child(1) {
        margin-right: 0;
    }

    .mock-pc {
        width: 15em;
    }

    .mock-sp {
        width: 7em;
    }
}

@media screen and (max-width: 414px) {
    .header-name {
        margin: auto 0.2em;
    }

    .link-block {
        position: initial;
        margin: auto;
    }

    .link-block a {
        margin-left: 0.8em;
    }

    .top-name {
        font-size: 2.5rem;
    }

    /* .prof-block {
        display: block;
    } */

    .prof-left-block {
        text-align: center;
    }

    .prof-right-block {
        position: initial;
        padding: 0;
        margin: 0 auto;
        width: 80%;
    }

    /* .prof-right-block p {
        font-size: 0.6em;
    } */

    .prof-left-block img {
        width: 90%;
        height: 20em;
        object-fit: contain;
    }

    .works-block-wrapper {
        width: 90%;
    }

    .mock-pc {
        width: 12em;
    }

    .mock-sp {
        width: 6em;
    }

    .skill-text-block p {
        width: 90%;
        margin: auto;
        font-size: 0.7em;
    }

    .slick-dots {
        top: 15rem;
    }
}
