/*link block*/
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
/*top name*/
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
/*heading*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
/*skill type*/
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

/*多分これしか使っていない*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3em;
}

body {
    /* background:  linear-gradient(90deg, #58c6ff 0%, #fffef0 40%, #b8c3ff 80%); */
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.swiper-container {
    width: 50vw;
    margin: auto;
}

/*header*/
header {
    background: #fff;
    width: 100%;
    position: fixed; /*fixedで固定*/
    z-index: 100;
    top: 0;
}

.header-wrapper {
    display: flex;
    height: 4rem;
}

.header-name {
    margin: auto 2em;
    font-family: "Yeseva One", serif;
}

.link-block {
    display: flex;
    align-items: center;
    position: fixed;
    right: 5em;
    top: 1.6em;
}

.link-block a {
    margin-left: 2em;
    background: linear-gradient(
        180deg,
        #2f91c2 0%,
        #239bb1 40%,
        #087588 60%,
        #d6cc70 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Yeseva One", serif;
    font-weight: normal;
    text-decoration: none;
}

.section-wapper {
    padding: 5em 0;
}

.heading {
    font-size: 5em;
    /* font-style: oblique; */
    background-color: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Yeseva One", serif;
    font-weight: normal;
    width: fit-content;
    margin: 0 auto 0.5em;
}

/*Sidebar*/
#sidebar-wrapper {
    position: fixed;
    background-color: #d3ddff;
    height: 100vh;
    width: 10vw;
    z-index: 10;
    position: fixed;
    top: 4rem;
}

.sidebar-link {
    cursor: pointer;
}

/*TOP*/
.top {
    margin-top: 4rem;
    height: 46.5em;
    background: linear-gradient(
        180deg,
        #2f91c2 0%,
        #239bb1 40%,
        #087588 60%,
        #d6cc70 80%
    );
    filter: blur(100px);
    animation: blur-anim 1.5s linear forwards;
}

@keyframes blur-anim {
    100% {
        filter: blur(0);
    }
}

.top-name {
    color: #fff;
    font-family: "Yeseva One", serif;
    font-size: 6.5rem;
}

/*profile*/
#profile {
    background-color: #087588;
}

#profile > .heading {
    background-color: #fff;
}

.prof-block {
    display: flex;
    width: fit-content;
    margin: auto;
}

#prof-left-block {
}

#prof-left-block img {
    width: 10em;
}

#prof-right-block {
    margin-left: 3em;
    width: 28em;
    top: 5em;
    color: #fff;
}

/*skills*/
#skills {
    background-color: #9ac8cd;
}

.skill-type {
    font-size: 3em;
    width: fit-content;
    margin: 0 auto 0.3em;
    font-family: "Lora", serif;
    font-size: 2em;
}

.skill-type-message {
    width: fit-content;
    margin: 0 auto 2em;
}

.skills-block {
    /* display: flex; */
    width: 35em;
    margin: 0 auto 4em;
}

.skills-block > .right {
    margin-left: 10em;
}

.skills-list {
    width: 30em;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

/* .skills-list li {
    background-color: #FFFFFF;
    border-radius: 1em;
    width: fit-content;
    height: 1em;
} */

.skills-list li {
    /* background-color: #FFFFFF; */
    background: #ebf4f6;
    border-radius: 0.6em;
    width: fit-content;
    padding: 0.5em;
    margin: 0 1em 1em 0;
    list-style: none;
}

.skills-items {
    margin: 0 auto 2em;
}

.skills-items .slick-prev {
    left: -35px;
    z-index: 10;
}

.skills-items .slick-next {
    right: -25px;
    z-index: 10;
}

.skills-items .slick-prev::before,
.skills-items .slick-next::before {
    font-size: 30px;
    color: #071952;
}

.skills-items li {
    list-style: none;
    /* border: 1px red dashed; */
    text-align: center;
    /* background-color: #FFFFFF; */
    background: #ebf4f6;
    height: 15em;
    border-radius: 1em;
}

.skills-items li img {
    /* max-width: 80%; */
    /* height: 40%; */
    /* border: 1px red dashed; */
    height: 5em;
    width: 10em;
    object-fit: contain;
    margin: 1em auto 0;
}

.skill-title {
    margin: 0;
}

.skill-text-block p {
    margin: 0 2em;
    font-size: 0.8em;
    text-align: left;
}

.star5_rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #cccccc; /* グレーカラー 自由に設定化 */
    /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before,
.star5_rating:after {
    content: "★★★★★";
}

.star5_rating:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after {
    width: 100%;
}
.star5_rating[data-rate="4.5"]:after {
    width: 90%;
}
.star5_rating[data-rate="4"]:after {
    width: 80%;
}
.star5_rating[data-rate="3.5"]:after {
    width: 70%;
}
.star5_rating[data-rate="3"]:after {
    width: 60%;
}
.star5_rating[data-rate="2.5"]:after {
    width: 50%;
}
.star5_rating[data-rate="2"]:after {
    width: 40%;
}
.star5_rating[data-rate="1.5"]:after {
    width: 30%;
}
.star5_rating[data-rate="1"]:after {
    width: 20%;
}
.star5_rating[data-rate="0.5"]:after {
    width: 10%;
}
.star5_rating[data-rate="0"]:after {
    width: 0%;
}

/*works*/
#works {
    background-color: #087588;
}

#works > .heading {
    background-color: #fff;
}

.works-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

.works-block-wrapper div:nth-child(1) {
    /* margin-right: 3rem; */
}

.works-block {
    /* width: 20em; */
}

.works-text-block {
    width: fit-content;
    margin: auto;
}

.works-block a {
    font-size: 0.8rem;
    color: #fff;
    font-weight: bolder;
}

.works-block p {
    font-size: 0.8rem;
    color: #fff;
}

.mock-img-block {
    /* width: 30em; */
    display: flex;
    /* height: 30em; */
    /* object-fit: cover; */
}

.mock-pc {
    width: 20em;
    margin-right: 1em;
    object-fit: cover;
}

.mock-sp {
    width: 10em;
    object-fit: cover;
}

/*footer*/
footer {
    background: #d6cc70;
    width: 100%;
    position: absolute;
}

footer p {
    padding: 2em;
    width: fit-content;
    margin: auto;
    font-family: "Yeseva One", serif;
}

/*slick-------------------*/
.slick-slide {
    margin: 0 0.3em 0;
}

/* arrow */
/* dots */
.slick-dots {
    bottom: -25px;
}

.slick-dots li,
.slick-dots li button,
.slick-dots li button::before {
    width: 12px;
    height: 12px;
}

.slick-dots li {
    margin: 0 7px;
}

.slick-dots li button {
    background-color: #fff;
    opacity: 0.8;
    border-radius: 100%;
}

.slick-dots li.slick-active button {
    /* opacity: .4; */
}

.slick-dots li button::before {
    content: "";
}

/*768px以下*/
@media screen and (max-width: 768px) {
    .heading {
        font-size: 3rem;
    }

    .link-block {
        right: 2em;
    }

    .link-block a {
        font-size: 70%;
    }

    .top-name {
        font-size: 4.5rem;
    }

    .section-wapper {
        padding-bottom: 4rem;
    }

    /*profile*/
    .prof-right-block {
        position: initial;
        padding: 0;
        /* margin: 0 auto; */
        margin-left: 1em;
        width: 80%;
    }

    .prof-left-block img {
        width: 8em;
    }

    .prof-right-block p {
        font-size: 0.6rem;
    }

    /*skills*/
    .skills-block-wrapper {
        width: 90%;
        margin: auto;
    }

    .skills-block {
        width: 80%;
    }

    .skills-list {
        width: auto;
    }

    /*works*/
    .works-block {
        width: auto;
        margin-bottom: 3rem;
    }

    .works-block-wrapper div:nth-child(1) {
        margin-right: 0;
    }

    .mock-pc {
        width: 15em;
    }

    .mock-sp {
        width: 7em;
    }
}

@media screen and (max-width: 414px) {
    .header-name {
        margin: auto 0.2em;
    }

    .link-block {
        position: initial;
        margin: auto;
    }

    .link-block a {
        margin-left: 0.8em;
    }

    .top-name {
        font-size: 2.5rem;
    }

    .prof-block {
        display: block;
    }

    .prof-left-block {
        text-align: center;
    }

    .prof-right-block {
        position: initial;
        padding: 0;
        margin: 0 auto;
        width: 80%;
    }

    .prof-right-block p {
        font-size: 0.6em;
    }

    .prof-left-block img {
        width: 90%;
        height: 20em;
        object-fit: contain;
    }

    .works-block-wrapper {
        width: 90%;
    }

    .mock-pc {
        width: 12em;
    }

    .mock-sp {
        width: 6em;
    }

    .skill-text-block p {
        width: 90%;
        margin: auto;
        font-size: 0.7em;
    }

    .slick-dots {
        top: 15rem;
    }
}
